*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
 ---main-bg-color: #559B7E;
 ---main-text-color:white;
 ---alternative-bg-color:#343434;
}
section{
    margin-top: 20px;
}

/* navigation */
nav{
    height: 60px;
   background-color: var(---main-bg-color);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 9000;
}
nav .logo{
    float: left;
    padding: 10px;
    font-weight: 800;
    color:var(---main-text-color);
}
nav .nav-links a{
    float: right;
    display: flex;
    flex-direction: row;
    padding:10px 20px 0 10px ;
    text-decoration: none;
    color: var(---main-text-color);
    font-weight: 700;
}
nav .nav-links a:hover{
    color: var(---alternative-bg-color);
}
nav .nav-links .underline{
    color: var(---alternative-bg-color);
}
/* *********** */

/* Landing section */
#landing{
    background-color: var(---alternative-bg-color);
    color: var(---main-text-color);
    margin-top: 60px;
    padding: 30px 0;
}
#landing .highlight{
    color: var(---main-bg-color);
    font-weight: 800;
}

#landing .container-fluid .col img{
    width: 300px;
    border-radius: 30% 70% 34% 66% / 68% 30% 70% 32% ;
}

.stack{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#landing h1 {
    display: inline-block;
    margin: 0 0.5rem;
    animation:slideInRight; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* don't forget to set a duration! */
  }
  #landing a{
    background-color: var(---main-bg-color);
    color: var(---main-text-color);
    font-weight: 700;
    width: 300px;
    text-decoration: none;
     margin-top: 12px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  #landing a:hover{
    background-color: var(---main-text-color);
    color: var(---alternative-bg-color);
  }
/* --------------- */
/* projects */
.project-container {
    display: flex;
    flex: row;
    justify-content: space-between;
}
#projects .button{
    background-color: var(---main-bg-color);
    color: var(---main-text-color);
    color: var(---main-text-color);
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 5px 20px;
}
#projects .button:hover{
    color: var(---alternative-bg-color);
    background-color: var(---main-text-color);

}
#projects  i{
    font-weight: 900;
}
#projects h1{
    margin-top: 20px;
}
#projects .card{
    background-color: var(---alternative-bg-color);
    color: var(---main-text-color);
}
/* Testimonials */
#testimonials .testimonials-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#testimonials .testimonials-container .card{
    margin: 2px;
}

#testimonials .card .card-img-top{
    border: #343434 1px solid;
    border-radius: 10px;

}
 



/* Contact page */

#contact .container-fluid{
    margin: 2px;
}
 #contact .container-fluid .form-container form{
    border-radius: 5px;
    background-color: var(---alternative-bg-color);
    color: var(---main-text-color);
    font-weight: 700;
    padding: 40px;
    margin: 0px 30px;
 }
 #contact .container-fluid .form-container form input{
    width: 450px;
    float: right;
    margin-bottom: 4px;
 }
 #contact .container-fluid .form-container form button{
    background-color: var(---main-bg-color);
    margin-top: 10px;
    padding: 5px 50px;
    border: 1px solid #559B7E ;
    color: var(---main-text-color);
    font-weight: 600;
 }
 #contact .container-fluid .form-container form button:hover{
    background-color: var(---main-text-color);
   border: 1px solid white;
   color: var(---alternative-bg-color);
 }
 #contact .container-fluid .form-container form textarea{
    width: 450px;
 }
  
 .contact-highlight{
    font-weight: 800;
    color: var(---main-bg-color);
 }
 #contact .container-fluid p{
    text-align: left;
 }
 /* *********** */
/******************Footer sectioin******************/
footer{
    height: 100px;
    background-color: var(---main-bg-color);
   
}

footer .copy-right{
    float: right;
    padding: 30px;
    font-weight: 800;
    color: var(---main-text-color);

}
 
footer i {
    color: var(---main-text-color);
    font-size: larger;
    padding-top: 40px;
}

/****************************************88**/