/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{ 
 ---main-bg-color: #559b7e;
 ---main-text-color:white;
 ---alternative-bg-color:#343434;
}
section{
    margin-top: 20px;
}
body{
    font-family: 'PT Serif', serif;
}
/* *************************navigation **************************/
/* entire nav container */
.navbar .container-fluid {
    height: 60px;
   background-color: var(---main-bg-color);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 9000;
}
/* nav logo */
.navbar .logo{
    padding: 10px;
    font-weight: 800;
    color:var(---main-text-color);
}
.links{
    color: var(---main-text-color);
    font-weight: 700;
}
.links:hover{
    color: var(---alternative-bg-color);
}

/* ************************************************************* */

/* ***************************Landing section **************************/
#landing{
    background-color: var(---alternative-bg-color);
    color: var(---main-text-color);
    padding: 30px 0;
    height: 500px;
    width: 100%;
}
#landing .highlight{
    color: var(---main-bg-color);
    font-weight: 800;
}

#landing .container-fluid .col img{
    width: 300px;
    border-radius: 30% 70% 34% 66% / 68% 30% 70% 32% ;
}

.stack{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
 
#landing h1 {
    display: inline-block;
    margin: 0 0.5rem;
    animation:slideInRight; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 5s; /* don't forget to set a duration! */
  }
  #landing a{
    background-color: var(---main-bg-color);
    color: var(---main-text-color);
    font-weight: 700;
    width: 300px;
    text-decoration: none;
     margin-top: 12px;
     margin-right:auto;
    padding: 10px;
     float: right;
  }
  #landing a:hover{
    background-color: var(---main-text-color);
    color: var(---alternative-bg-color);
  }

/* ******************************About************************* */

#about .container-fluid .col h3{
font-weight: 900;
text-align: center;
}
#about .container-fluid .col p{
    text-align: left;
}

#about .container-fluid .col img{
    width: 40%;
}
 .black-star i{
    color: var(---alternative-bg-color);
 }
#about .container-fluid .row .col .skill-1 {
   display: flex;
   flex-direction: row;
}
#about .container-fluid .col .skill-1 i{
    color: gold;
}
#about .container-fluid .col .skill-1 .black-star i{
    color: var(---alternative-bg-color);
}
.bio-stuff{
    color: var(---main-bg-color);
  }
  /* BIO */
  .bio-highlight{
    font-weight: 900;
    color: var(---main-bg-color);
  }
  /* education */
  .education-hight{
    font-weight: 900;
    color: var(---main-bg-color);
  }
  /* work column */
  #about .container-fluid .row .col .work {
    display: flex;
    flex-direction: column;
 }
 #about .container-fluid .row .col .work h5{
     font-weight: 600;
 }
 #about .container-fluid .row .col .work img{
    width: 50px;
    height: 50px;
 }
 .work-highlight{
    font-weight: 900;
    color: var(---main-bg-color);
 }
 /* skills */
 #about .container-fluid .row .col .skill-1 p{
    color: var(---main-bg-color);
   font-weight: 900;
 }
/************************* projects****************************** */
.project-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.project-container .card {
    width: 300px;
}
.project-container .card img{
    width: 100%;
}
#projects .button{
    background-color: var(---main-bg-color);
    color: var(---main-text-color);
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    padding: 5px 20px;
}
#projects .button:hover{
    color: var(---alternative-bg-color);
    background-color: var(---main-text-color);

}
#projects  i{
    font-weight: 900;
}
#projects h1{
    margin-top: 20px;
}
#projects .card{
    background-color: var(---alternative-bg-color);
    color: var(---main-text-color);
}
/* *************************Testimonials**************************/
#testimonials .testimonials-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#testimonials .testimonials-container .card{
    margin: 2px;
    width: 300px;
}

#testimonials .card .card-img-top{
    border: #343434 1px solid;
}
/* *************************************************************/

/* *************************Contact page **************************/

#contact .container-fluid{
    margin: 2px;
}
 
 #contact .container-fluid form{
    border-radius: 5px;
    background-color: var(---alternative-bg-color);
    color: var(---main-text-color);
    font-weight: 700;
    padding: 40px;
    margin: 0px 30px;
 }

 #contact .container-fluid  form button{
    background-color: var(---main-bg-color);
    margin-top: 10px;
    padding: 5px 50px;
    border: 1px solid #559B7E ;
    color: var(---main-text-color);
    font-weight: 600;
 }
 #contact .container-fluid  form button:hover{
    background-color: var(---main-text-color);
   border: 1px solid white;
   color: var(---alternative-bg-color);
 }
 
 .contact-highlight{
    font-weight: 800;
    color: var(---main-bg-color);
 }
 #contact .container-fluid p{
    text-align: left;
 }
 /* ************************************************************* */
/******************Footer sectioin******************/
footer{
    width: 100%;
    height: 100px;
    background-color: var(---main-bg-color);
   
}

footer .copy-right{
    float: right;
    padding: 30px;
    font-weight: 800;
    color: var(---main-text-color);

}
 
footer i {
    color: var(---main-text-color);
    font-size: 40px;
    padding-top: 40px;
    padding: 10px;
}
/*****************************************************************************************************************/
/*****************************************************************************************************************/
/*******************************media query******************************************************************************/
/*****************************************************************************************************************/
/*****************************************************************************************************************/
/*****************************************************************************************************************/


/**********************************************/
/****************Regular smart phone/Tablet********************************/
/**********************************************/

@media only screen and (max-width: 700px){

    #about .container-fluid .row{
        display: flex;
        flex-direction: column;
    }
    
/******landing section******/
    #landing{
        width:100%;
        height: 300px;
    }
    #landing .container-fluid .col img{
        width: 200px;
    }
    #landing h1 {
        animation:bounce; /* referring directly to the animation's @keyframe declaration */
        animation-duration: 3s; /* don't forget to set a duration! */
      }
/****** projects*************/
.project-container {
    flex-direction: column;
}
#projects .card{
   margin-top: 3px;
   margin: 2% 10%;
   width: auto;
   text-align: center;
}
/* ********Testimonials*****/
#testimonials .testimonials-container{
    flex-direction: column;
}
#testimonials .testimonials-container .card{
        margin-top: 3px;
        margin: 2% 10%;
        width: auto;
 
}
 /******footer***********/
 footer .copy-right{
    float: right;
      font-size: 20px;
      padding: 0;
      text-align: center;
    font-weight: 800;
    color: var(---main-text-color);

}
.collapse{
    background-color: var(---alternative-bg-color);
    border-radius: 5px;
    margin-top: 10px;
}
#contact .container-fluid form{
    margin: 0 ;
}
}
 
/**********************************************/
/*****************For tiny phone*****************************/
/**********************************************/
@media only screen and (max-width: 300px){
    body{
            width: min-content;
    }
    p{
        font-size: larger;
    }
    section{
        padding: 20px;
    }
    #about .container-fluid {
        display: flex;
        flex-direction: column;
    }
    #about .container-fluid .col .bio{
       width: 100%;
    }
/******landing section******/
#landing{
    min-width: max-content;
    height: 500px;
}
#landing .container-fluid .col img{
    width: 200px;
}
#landing h1 {
    animation:bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
  }
/****** projects*************/
.project-container {
flex-direction: column;
}
#projects .card{
margin-top: 3px;
margin: 2% 10%;
width: auto;
text-align: center;
}
/* ********Testimonials*****/
#testimonials .testimonials-container{
flex-direction: column;
}
#testimonials .testimonials-container .card{
    margin-top: 3px;
    margin: 2% 10%;
    width: auto;
}
/******footer***********/
footer .copy-right{
float: right;
  font-size: 12px;
  padding: 0;
  text-align: center;
font-weight: 800;
color: var(---main-text-color);

}
footer i{
    font-size: 14px;
}
.collapse{
    background-color: var(---alternative-bg-color);
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}
#contact .container-fluid .row{
    display: flex;
    flex-direction: column;
}
.contact-highlight{
    font-size: 18px;
}
.contact-detail{
font-size: 18px;
}
}

/**********************************************/
@media only screen and (max-width: 400px){
    body{
            width: min-content;
    }
    p{
        font-size: larger;
    }
    section{
        padding: 20px;
    }
    #about .container-fluid {
        display: flex;
        flex-direction: column;
    }
    #about .container-fluid .col .bio{
       width: 100%;
    }
/******landing section******/
#landing{
    min-width: max-content;
    height: 500px;
}
#landing .container-fluid .col img{
    width: 300px;
    
#landing h1 {
    font-size: 80px;
    animation:bounce; /* referring directly to the animation's @keyframe declaration */
    animation-duration: 3s; /* don't forget to set a duration! */
  }
/****** projects*************/
.project-container {
flex-direction: column;
}
#projects .card{
margin-top: 3px;
margin: 2% 10%;
width: auto;
text-align: center;
}
/* ********Testimonials*****/
#testimonials .testimonials-container{
flex-direction: column;
}
#testimonials .testimonials-container .card{
    margin-top: 3px;
    margin: 2% 10%;
    width: auto;
}
/******footer***********/
footer .copy-right{
float: right;
  font-size: 12px;
  padding: 0;
  text-align: center;
font-weight: 800;
color: var(---main-text-color);

}
footer i{
    font-size: 14px;
}
.collapse{
    background-color: var(---alternative-bg-color);
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}
#contact .container-fluid .row{
    display: flex;
    flex-direction: column;
}
.contact-highlight{
    font-size: 18px;
}
.contact-detail{
font-size: 18px;
}
}